<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PushTalents - OTP</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet" />
</head>

<body>
    <style>
        table {
            padding: 10px;
            width: 100vw;
        }

        td {
            font-size: 16px;
        }
    </style>

    <table cellpadding="4" cellspacing="10" border="0">
        <tr>
            <td>Dear user ,</td>
        </tr>

        <tr>
            <td>
                Your OTP Code is below :
            </td>
        </tr>

        <tr></tr>
        <tr>
            <td>
                <b>OTP : </b> {{otp}}
            </td>
        </tr>


        <tr></tr>

        <tr>
            <td>
                Please DO NOT share this OTP code with anyone else.
            </td>
        </tr>

        <tr>
            <td>
                © 2021 NxGen Labs. All rights reserved.
            </td>
        </tr>

    </table>
</body>

</html>